<ion-header>
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content padding>

  <div align="center">
    <h2>{{email}}</h2>
  </div>

  <form [formGroup]="myForm" (ngSubmit)="saveForm()">
    <ion-list>
      <ion-item>
        <ion-label color="primary" floating>Nombre(s)</ion-label>
        <ion-input formControlName="surename" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.surename.valid && myForm.controls.surename.touched">
        <p>
          <span>
            Nombre(s) de mínimo 3 Caracteres
          </span>
        </p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Apellido(s)</ion-label>
        <ion-input formControlName="lastname" type="text"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.lastname.valid && myForm.controls.lastname.touched">
        <p>
          <span>
            Apellido(s) de mínimo 3 Caracteres
          </span>
        </p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Teléfono</ion-label>
        <ion-input formControlName="phone" type="number"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.phone.valid && myForm.controls.phone.touched">
        <p>
          <span>
            Teléfono de mínimo 3 Caracteres, maximo 10
          </span>
        </p>
      </ion-item>
      <ion-item>
        <ion-label color="primary" floating>Password</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item *ngIf="!myForm.controls.password.valid && myForm.controls.password.touched">
        <p>
          <span>
            Password de mínimo 6 Caracteres
          </span>
        </p>
      </ion-item>
    </ion-list>

    <button ion-button block type="submit" [disabled]="!myForm.valid">Guardar</button>
  </form>

</ion-content>